.mtBox{
    width: 100%;
    height:100%;
    form{
        // width: 100%;
        .mtUser{
            border-bottom:1px solid #e6e6e6;
        }
        .mtPass{
            border-bottom:1px solid #e6e6e6;
        }
        >div{
            width:100%;
            padding: 7px 10px;
            input{
                width: 100%;
                height:30px;
                line-height:60px;
                border:0;
                &.active{
                    border-radius: 3px;
                    background: #ececec;
                }
            }
        }
        .am-button{
            margin:0 auto;
            margin-top:20px;
            z-index: 3;
            width: 95%;
            height:35px;
            line-height: 35px;
            font-size:16px;
        }
    }
}